/* Сетка для статей */
.articles-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Три колонки */
  grid-gap: 20px;
  margin-top: 20px;
}

/* Фото статьи */
.article-photo {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Заголовки статей */
.article-title {
  font-size: 1.5em;
  color: #333;
  text-decoration: none;
  margin-top: 10px;
}

.article-title:hover {
  text-decoration: underline;
}

/* Стили для отдельных страниц статей */
h1, h2, h3 {
  color: #333;
}

p {
  font-size: 1.2em;
  line-height: 1.6em;
  color: #555;
}